{% extends 'user/account.html' %}
{% block title %}successful{% endblock %}


{% block temp %}

<style>
    @media (min-width:992px){
    .cont{margin-left:40% !important;}
    }
</style>

  <div class="row">
    <div class="col s12 m8 push-m1">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <br/>
            <center>
          <span class="cont card-title " style="margin-left:38%;"><i class="im im-check-mark-circle white-text left" style="font-size:8ex;" ></i></span>
          </center>
                <br/><br/><br/><br/>
                <p class="" style="text-align:center;">Your request was successful and transaction is in progress..</p>
        </div>
      </div>
    </div>


  </div>
{% endblock %}
