{% extends 'auth/signup.html' %}
{% load static %}
{% block title %}Signup -Become a member {% endblock %}

<!--the body-->

{% block form %}
<!--the content-->


<br/>
<center>
    <i class="im im-check-mark-circle" style="font-size:12ex;color:green;"></i>
<p style="color:white;">congratulations!! your account has successfully been created and you're ready to make your first trade. </p>
</center>
<br/>
    <center>
        <a href="/login/" class="btn waves-effect waves-light blue pulse">login</a>
    </center>
<br/>
    <!--the end of the content-->
    {% endblock %}