{% extends 'auth/verification_email.html' %}
{% block title %}welcome {% endblock %}

{% block content %}
<style>
    @media (min-width:992px){
    .div{width:40% !important;margin-left:28% !important;}
    }
</style>

<div class="div" style="width:75%;padding:2.5%;background-color:;margin:10%;">
    <img src=""
         style="width:100%;">
<h4>
    Your signup was successful and your account is ready to make its first trade.
</h4>
    <h3>ACCOUNT FEATURES</h3>
    <table>
        <tr>
            <td>
                <img src="https://th.bing.com/th?id=OIP.Gz4EJYTb0JR0Zh4CgvJIVQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" style="width:100%;">
            </td>
        </tr>
    </table>
    <p><b>Embed AI Trade Robot Enabled For Automated Trade 100% trade return.
    <br/>start a plan now and start earning over weekly basis, Bi-weekly, Monthly or more
        <strong>Mini-Bot: QC25a56bot </strong>
    </b></p>
    <center>
   <a href="" > <button style="background-color:#0000ffa6;padding:2ex;color:white; border:none;">START NOW</button>
   </a>
    </center>
        <h4><b>GET LONG TERM LOAN</b></h4>
    <img src="https://th.bing.com/th/id/OIP.09Q2VNnNfwmXFWoruIz4igHaEH?pid=ImgDet&rs=1" style="width:100%;">
    <P>We believe that some times a taught, and we want to show every of our members that <br/>
    we stand by them at very by helping them with long term loans.
    </P>
    <p><b>REQUIREMENT</b></p>
    <ul>
        <li>signup for an trade account and make complete verification.</li><br/>
        <li>Ensure to have some amount of bitcion in your Cryptocurrency Exchange wallet which will be used as
        collateral for giving you amount more than  500% of the collateral value
        </li>
    </ul>


    <br/><br/>

</div>

{% endblock %}